<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercise</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default" style="margin-bottom: 0">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="margin-top: -4px">
            <img src="https://cdn0.iconfinder.com/data/icons/medicine-pt-2/100/012_-_DNA1-512.png" width="30" height="30" alt="" style="display:inline">
            gNom
          </a>
          <p class="navbar-text">Control your dietary destiny.</p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default btn-sm navbar-btn">Register</button>
            <button type="button" class="btn btn-primary btn-sm navbar-btn">Log In</button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="background-color: #5cb85c; padding-top: 20px;">
      <div class="container">
        <div class="jumbotron" style="background-image: url('./salad.jpg'); background-size: cover; color: #f9f9f9">
          <h2>Meal Planning Made Easy</h2>
          <h3>Just for you!</h3>
          <p>Generate quick and nutritious meal ideas that are customized for your
          body's unique dietary needs.</p>
          <a href="/login" class="btn btn-success">Let's Get Cooking!</a>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
      <div class="row">
        <div class="col-md-4">
          <h2>DNA Your Diet</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-4">
          <h2>DNA Your Diet</h2>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="col-md-4">
          <h2>DNA Your Diet</h2>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="background-color: #5bc0de; color: #2e6da4; padding-top: 15px; padding-bottom: 15px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="text-align: center; height: calc(100% - 100px);">
            <div id="genomelink" style="display:inline">
              <a href="genomelink.com">
              <img style="height: 50px;" src="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/849046/4e2ff250-a0a7-400c-8fdb-0543f5c19f2d_kjpvjy.png" />
              <span style="color:#f9f9f9">GENOME LINK</span>
              </a>
               &
            </div>
            <div id="edamam-badge" data-color="white" style="display:inline"></div>
            <a href=""></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="background-color: #428bca; color: #f9f9f9; padding-top: 15px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12" style="text-align: center; height: calc(100% - 100px);">
            <p>&copy Copyright 2018</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
