<h1 class = "heading"> Your genetic dietary profile </h1>

<style>
    .background {
        background-color: #5cb85c
    }
</style>

<body class="background">
    <div class="container">
        <div>
            {{#each categories}}
           <h3>{{@key}}</h3>
           <ul>
             {{#each this}}
               <li>{{name}}</li>
               <!-- <ul style="display=none;">
                 <li>{{description}}</li>
               </ul> -->
             {{/each}}
           </ul>

          {{/each}}
        </div>
    </div>
</body>
