<h2 class="heading"> Your dietary tendencies based on your genome </h2>
<br/>
<br/>

<table class="container">
  <tbody>
    {{#each reports}}
    <tr>
      <td> {{phenotype.display_name}} </td>
      <td> {{summary.text}} </td>
      <td> {{summary.score}} </td>
    </tr>
    {{/each}}
  </tbody>

</table>
