<!DOCTYPE html>
<html>
    <head>
        <style>
            .background {
                background-color: #5cb85c;
            }
            .container {
                background-color: blue;
            }
            .heading {
                background-color: red;
            }
        </style>
    </head>

    <body class="background">
        <h2 class="heading">Welcome</h2>
            <div class="container">
                <div>
                    {{#each categories}}
                   <h3>{{@key}}</h3>
                   <ul>
                     {{#each this}}
                       <li>{{name}}</li>
                       <!-- <ul style="display=none;">
                         <li>{{description}}</li>
                       </ul> -->
                     {{/each}}
                   </ul>

                  {{/each}}
                </div>
            </div>
    </body>
</html>
