<!DOCTYPE html>
<html>
    <head>
        <style>
            .list {
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <h3>Your shopping list for a balanced diet</h3>
        <br/>
        <ul>
            <a href="https://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Damazonfresh&field-keywords=pancake+mix"><li class="list">Pancake mix</li></a> <form style="padding-left:20px">
              Quantity:
              <input type="number" name="quantity" min="1" max="5">
            </form>
<br/>
            <a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Damazonfresh&field-keywords=baking+powder&rh=n%3A10329849011%2Ck%3Abaking+powder&ajr=0" ><li class="list">Baking powder</li></a> <form style="padding-left:20px">
              Quantity:
              <input type="number" name="quantity" min="1" max="5">
            </form>
        </ul>
    </body>
</html>
