<div class="container-fluid" style="background-color: #5cb85c; padding-top: 20px;">
  <div class="jumbotron" id="saladjumbotron" style="); background-size: cover; color: #f9f9f9">
    <h2>Meal Planning Made Easy</h2>
    <h3>Just for you!</h3>
    <p>Generate quick and nutritious meal ideas that are customized for your
    body's unique dietary needs using the cutting edge science of genetic testing.</p>
    <a href="{{authorize_url}}" class="btn btn-success">Start with GenomeLink</a>
  </div>
</div>

<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="row">
    <div class="col-md-4">
      <h2>DNA Your Diet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-md-4">
      <h2>DNA Your Diet</h2>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="col-md-4">
      <h2>DNA Your Diet</h2>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #5bc0de; color: #2e6da4; padding-top: 15px; padding-bottom: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; height: calc(100% - 100px);">
        <div id="genomelink" style="display:inline">
          <a href="genomelink.com">
          <img style="height: 50px;" src="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/v1/849046/4e2ff250-a0a7-400c-8fdb-0543f5c19f2d_kjpvjy.png" />
          <span style="color:#f9f9f9">GENOME LINK</span>
          </a>
          <span style="padding-left: 4px; padding-right: 4px; font-size: 28px">&</span>
        </div>
        <div id="edamam-badge" data-color="white" style="display:inline"></div>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #428bca; color: #f9f9f9; padding-top: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align: center; height: calc(100% - 100px);">
        <p>&copy Copyright 2018</p>
      </div>
    </div>
  </div>
</div>
