<!DOCTYPE html>
<html>
    <head>
        <style>
            .well {
                width: 900px
            }
            .sidenav {
                width: 330px;
                position: fixed;
                z-index: 1;
                top: 120px;
                right: 40px;
                background: #5cb85c;
                overflow-x: hidden;
                padding: 8px 0;
                border-radius: 5px;
            }

            .sidenav a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #f9f9f9;
                display: block;
            }

            .sidenav a:hover {
                color: #064579;
            }

            .main {
                margin-left: 140px; /* Same width as the sidebar + left position in px */
                font-size: 28px; /* Increased text to enable scrolling */
                padding: 0px 10px;
            }

            @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
            }
        </style>
    </head>

    <body>
        <div class="sidenav">
          <a href="#">Click here to discover healthy recipes high in protein</a>
          <a href="#">
          <img src="http://www.mybariatriclife.org/wp-content/uploads/2016/04/High-Protein-Vegetarian-Meals-e1460083715965-1148x955.jpg" style="width:300px;height:280px;padding-bottom:30px;padding-top:10px;" alt="Mountain View">
          </a>
        </div>
        <h1>Protein intake deficiency</h1>
        <br/>
        <div class=container-fluid>
            <div class="well">
                <h3>What is protein?</h3>
                <br/>
                <div style="padding-left:30px">
                <p>Proteins are large compounds made by combining smaller amino acids. Proteins in the diet are known as macronutrients, and contribute energy (calories) to the body.  Each gram of protein contains 4 calories.</p><br/><p>

                    There are 20 amino acids used to build proteins. Proteins that do not have all 20 amino acids are called incomplete proteins.  Protein sources containing all 20 amino acids are referred to as complete proteins.  Choosing complete protein sources will ensure you are getting all of the amino acids that your body needs.</p><br/><p>

                    Some amino acids can be made in the body and are not essential in your diet.  Amino acids that cannot be produced by the body are called essential amino acids, which should be included in your diet.</p>
            </div>
        </div>
        <div class="well">
            <h3>How is protein used by the body?</h3>
            <br/>
            <div style="padding-left:30px">
            <p>Proteins have many different jobs within the body.  As previously mentioned, the body uses proteins for energy.  Protein is also used as an enzyme, which starts reactions within the body, including metabolism, and gene growth & repair. Proteins are also used by the body to carry signals from one part of the body to another and to form structures, including muscles.</p>
            </div>
        </div>
        <div class="well">
            <h3>How much protein do I need in my diet?</h3>
            <br/>
            <div style="padding-left:30px">
                <p>Protein should account for 10-35% of your daily caloric intake.  Many nutrition experts also recommend an intake of 1 gram of protein per 1 kilogram of body weight (0.4 g per pound).</p><br/><p>

                    Consuming too much protein may be harmful to the body.  High amounts of protein in the diet put stress on the kidneys and liver as they try to dismantle and dispose of the extra protein.</p>
            </div>
        </div>
        <div class="well">
            <h3>Which foods are good sources of protein?</h3>
            <br/>
            <div style="padding-left:30px">
                <p>Sources of protein include meat products (hamburger, fish, chicken), dairy products (cheese, milk, yogurt, cottage cheese), eggs, tofu, lentils, and soymilk. </p><br/><p>

                    Eating complete protein (containing all amino acids) will help ensure that you do not become deficient in essential amino acids.  Complete proteins include meat, poultry, fish, dairy, eggs, and soy (a non-animal source).  Nuts, grains, fruits, and vegetables are typically incomplete.  For this reason, it is important for vegetarians to pair non-animal products wisely in order to consume all essential amino acids in their daily diet.</p>
            </div>
        </div><div class="well">
            <h3>What is protein deficiency?</h3>
            <br/>
            <div style="padding-left:30px">
                <p>Most Americans (including vegetarians) consume more than enough protein on a daily basis. Therefore, protein deficiency is not a huge concern in the United States.  It can be found in people on restrictive diets and in the elderly population, who are more likely to have poor diets. </p><br/><p>

                    In countries with a high rate of malnourished children, protein deficiency is more common.  Without prevention, a protein deficient child can develop a condition known as Kwashiorkor.  The symptoms of this disorder include a protruding stomach, edema, thin hair, overall weight loss, slowed growth, and discolored hair & skin.  Kwashiorkor, if left untreated, can cause stunted growth, mental impairments, and death.</p>
            </div>
        </div>
        <a href="https://www.myfooddiary.com/Resources/nutrient_facts/nutrient_protein.asp" style="padding-left: 50px">Source: MyFoodDiary.com</a>
        <br/>
        <br/>
    </body>
</html>
